body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #4CAF50;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
}


.todo-input-container {
    display: flex;
    justify-content: space-between;
    background-color: #eafbea;
    padding: 8px;
    border-radius: 999px;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px 15px;
    border-radius: 999px;
    font-size: 16px;
    outline: none;
}

#add-task-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

#add-task-btn:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaffea;
    border: 1px solid #4CAF50;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 999px;
}

li span {
    flex-grow: 1;
    font-size: 18px;
    color: #000;
    text-align: left;
}

li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

li button:hover {
    background-color: #45a049;
}

li:hover {
    background-color: #d4f8d4;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
